
.hability_container {
    display: flex;
    height: 100px;
}

.lang_icon {
    width: 20%;
    height: 100px;
}

.labels {
    width: 100%;
    display: inline-flex;
    justify-content:space-between;
}

.bar_container {
    margin: 0%;
    width: 70%;
    height: 100px;
    text-align: center;
  }
  
  .container .progress {
    margin: 0 auto;
    width: 400px;
  }
  
  .progress {
    padding: 4px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
   
  }
  
  .progress-bar {
    height: 16px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
  
  /*
   * Note: using adjacent or general sibling selectors combined with
   *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
   *       See this article for more info and a potential fix:
   *       https://css-tricks.com/webkit-sibling-bug/
   */  
  .radio {
    display: none;
  }
  
  .label {
    display: inline-block;
    margin: 0 5px 20px;
    padding: 3px 8px;
    color: black;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.50);
    cursor: pointer;
  }