.contact_link_container {
    height:fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.contact_container {
    display: flex;
    width: 280px;
    height: 64px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    margin: 10px;
}

div.contact_info{
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.contact_container button.clicable img{
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
}

.contact_container button.clicable img:hover{
    filter: drop-shadow(0px 0px 5px rgb(124, 124, 124));
    transform: scale(1.05);
}
