
.hability_container {
    display: flex;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    margin: 10px;
    width: 90%;
    max-width: 800px;
}

.lang_icon {
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
}

.labels {
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content:space-between;
}

.bar_container {
    margin: 0%;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  
  .container .progress {
    margin: 0 auto;
    width: 400px;
  }
  
  .progress {
    padding: 4px;
    background: rgba(120, 120, 120, 1);
    border-radius: 6px;
   
  }
  
  .progress-bar {
    height: 16px;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  }
  
  /*
   * Note: using adjacent or general sibling selectors combined with
   *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
   *       See this article for more info and a potential fix:
   *       https://css-tricks.com/webkit-sibling-bug/
   */  
  .radio {
    display: none;
  }
  
  .label {
    display: inline-block;
    margin: 0 5px 0px;
    padding: 3px 8px;
    color: white;
    border-radius: 3px;
    background: rgba(120, 120, 120, 255);
    cursor: pointer;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
    -webkit-transition-property: font-size;
    -moz-transition-property: font-size;
    -o-transition-property: font-size;
    transition-property: font-size;
  }

  @media screen and (max-width: 410px) {
    .label {
      font-size: small;
    }
    .hability_container {
      width: auto;
    }
  }