/* GENERAL PAGE SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    * {
        font-family: 'Roboto Condensed', sans-serif;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    body {
        background-color: white;
    }

/* FONTS */

h1 {
    color:white
}

h2 {
    color:black
}

h3 {
    color:white
}

.titulo{
    font-size: x-large;
    color:black;
    text-align: left;
    margin: 10px;
    font-weight: 300;
}

.tecnologias{
    color:black;
    text-align: left;
    margin: 10px;
    font-style: italic;
    font-weight: 300;
}

.descricao{
    color:black;
    text-align: left;
    margin: 10px;
}

.projectType{
    color: black;
    font-size: xx-large;
    margin: 0%;
    margin-left: 10px;
}